node_modules/
build/
routing/lib

# for Macs
.DS_Store

# for CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build

# ignore binary files
*.out

# ignore debugger symbols and files
*.dSYM/

# ignore VSCode directory
.vscode/
